.character-sheet {
  padding: 8px 10px;
}

.address {
  font-size: 10px;
  line-height: 12px;
  opacity: 0.66;
}

.activeClassJob {
  font-size: 14px;
  font-weight: 500;
  margin: 6px 0 4px;
}

.equipment {
  display: grid;
  grid-template-columns: 40px auto 40px;
  grid-template-rows: repeat(6, 40px);
  grid-gap: 5px;
}

.equipment > div {
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.equipment .portrait {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 7;
  padding: 0;
}

.equipment .portrait img {
  display: block;
  width: 100%;
  position: relative;
  top: -1px;
}
