.character-sheet {
  padding: 8px 10px;
}

.header {
  line-height: 1.2em;
}

.title {
  font-size: 12px;
  font-weight: 400;
  opacity: 0.66;
}

.freeCompany {
  font-weight: 500;
}

.address {
  font-size: 12px;
  line-height: 1.45;
  opacity: 0.66;
  margin-top: 4px;
}

.activeClassJob {
  font-size: 14px;
  font-weight: 500;
  margin: 12px 0 4px;
}

.equipment {
  display: grid;
  grid-template-columns: 40px auto 40px;
  grid-template-rows: repeat(6, 40px);
  grid-gap: 8px 6px;
}

.equipment > div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.equipment .portrait {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 7;
  padding: 0;
  overflow: hidden;
}

.equipment .portrait img {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
}

.bio {
  margin-top: 10px;
}
