.item-tooltip {
  color: #fff;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.66);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  transition: opacity 0.33s ease;
  animation: enterTooltip 0.33s ease;
  animation-fill-mode: forwards;
}

@keyframes enterTooltip {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.equipped-item,
.glamour-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 10px;
}

.item-tooltip h3 {
  margin: 0;
  font-size: 14px;
}

.item-tooltip h4 {
  margin: 0;
  font-size: 10px;
  font-weight: 400;
  opacity: 0.66;
}

.item-tooltip .icon {
  height: 40px;
  min-width: 40px;
}

.item-tooltip .item-desc {
  flex: 1 1 auto;
  padding-left: 10px;
}
