* {
  box-sizing: border-box;
}

html,
body,
#root,
.App {
  height: 100%;
}

html,
body {
  background: transparent;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 1.2;
}

h1 {
  font-size: 18px;
  line-height: 1.2;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.66;
}
