* {
  box-sizing: border-box;
}

html,
body,
#root,
.App {
  height: 100%;
}

html,
body {
  background: transparent;
  padding: 0;
  margin: 0;
}

hr {
  border: 0;
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.33);
  margin: 6px 0;
}

.App {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.45;
  height: 100%;
  border-radius: 10px;
}

.App img {
  display: block;
  max-width: 100%;
}

.App-dark {
  background-color: #3b3a3d;
  background-image: linear-gradient(#716d6d 0%, #3b3a3d 20px);
  box-shadow: inset 1px 1px 0 #707065, inset -1px -1px 0 #4b4740,
    inset 2px 2px 0 #aca78e, inset -2px 2px 0 #aca78e, inset -3px -3px 0 #81796a,
    inset 3px 3px 0 #8a7e5d, inset 1px -4px 0 #7f7869,
    inset -4px -4px 1px #4c4644, inset 5px 5px 1px #302720;
  color: #c4c1b2;
}

.App-dark hr {
  border-bottom: 1px solid #292828;
}

.App-light {
  background-color: #f1dfc0;
  background-image: linear-gradient(#fcf9f3 0%, #f1dfc0 20px);
  box-shadow: inset 1px 1px 0 #b3b19b, inset -1px -1px 0 #4b4740,
    inset 2px 2px 0 #aca78e, inset -2px 2px 0 #aaa68b, inset -3px -3px 0 #81796a,
    inset 3px 3px 0 #8a7e5d, inset 3px -4px 0 #8a7e5d,
    inset -5px -5px 1px #bcb29e, inset 4px 4px 1px #463b2b,
    inset -6px 3px 0px #7a7263;
  color: #736045;
}

.App-light hr {
  border-bottom: 1px solid #736045;
}

.App-dark a {
  color: #fff;
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 1.2;
}

h1 {
  font-size: 18px;
  line-height: 1.2;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.66;
}
