* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.Config,
input,
button {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.45;
}

.Config {
  max-height: 100vh;
  overflow: auto;
}

.content {
  padding: 24px;
}

h1 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 24px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
}

.label-text {
  font-size: 14px;
  font-weight: 600;
}

hr {
  margin: 32px 0;
}

input[type='text'] {
  border: 1px solid currentColor;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  padding: 0 6px;
  margin-top: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  height: 32px;
  width: 100%;
  max-width: 420px;
}

input[data-state='error'] {
  background-color: rgba(255, 180, 180, 0.66);
  color: #900;
}

.fieldset {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.fieldset .form-control {
  margin-right: 10px;
}

.guide {
  font-style: italic;
}

.button {
  color: #fff;
  background-color: #666;
  font-size: 16px;
  font-weight: 400;
  display: inline-flex;
  height: 32px;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  line-height: 1.2;
  border-radius: 4px;
  border: 1px solid #111;
  cursor: pointer;
  text-transform: uppercase;
  transition-property: background-color, border;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  white-space: nowrap;
}

.button[disabled] {
  pointer-events: none;
  opacity: 0.66;
}

.button:hover {
  background-color: #333;
}

.save-button {
  background-color: #009900;
  border: 1px solid #006600;
}

.save-button:hover,
.save-button:focus {
  background-color: #006600;
}

.save-button:focus,
.save-button:active {
  outline: none;
  box-shadow: 0 0 0 1px #003300;
}

.save-button:active {
  background-color: #003300;
}

.save-button[data-state='loading'] {
  border-color: #ccc;
  background-color: #ccc;
  opacity: 0.66;
  pointer-events: none;
}

.contribute {
  font-size: 12px;
  padding-bottom: 32px;
}
