.profile-preview {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: rgba(0, 200, 0, 0.1);
  padding: 10px;
  margin-top: -9px;
  margin-bottom: 10px;
}

.profile-body {
  line-height: 1.2;
}

.profile-body h3 {
  margin: 0;
}

.profile-classjob {
  display: flex;
  flex-direction: row;
}

.profile-classjob-icon {
  height: 32px;
  width: 32px;
  margin-right: 6px;
}

.profile-classjob-text {
  height: 30px;
}

.profile-avatar {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.profile-avatar img {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
